@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

.fa-discord {
    color: #7289d9;
    size: 3rem;
}

.fa-twitter {
    color: #00acee;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

section.home {
    flex-direction: row;
    margin-top: 0;
}

.btn {
    display: inline-block;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
}

.btn:hover {
    transform: scale(.95);
}

.logo {
    text-align: center;
    width: 100;
    font-size: 15rem;
    font-weight: 100;
}

.navbar {
    text-align: center;
    width: 100;
}

.navbar ul{
    display: inline-block;
}

.navbar li {
    float:left;
}

.navbar li,
li {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

/* WORK PAGE*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 10px;
    
}

.portfolio .item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.portfolio .item .action {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .item:hover .action {
    opacity: 1;
}


.portfolio .item .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
}

/* CONTACT PAGE */

.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    background: rgb(241, 240, 239);
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.contact-form form {
    width: 100%; 
}

.contact-form .row {
    width: 100%;
    display: flex;
}

.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 150px;
}

.contact-form .row input[type='submit'] {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.contact-info {
    width: 350px;
    background: #f9f9f9;
    padding: 60px 40px 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 20px;
}

.contact-info .info-box .details h4 {
    color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: black;
}

@media(max-width: 1068px) {

    .home-img {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
    }

    .home-content h1 {
        margin-top: 2rem;
    }

    section {
        padding: 100px 40px;
    }

    .navigation ul li a {
        font-size: 2rem;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio .item .action {
        opacity: .8;
    }

    .contact {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
        padding: 30px 30px 20px;
    }

    .contact-form .row {
        flex-direction: column;
    }

    .contact-form .input50,
    .contact-form .input100 {
        width: 100%;
        margin: 0;
    }

    .contact-info {
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px;;
    }

    .home-content {
        background: rgba(255,255,255,0.75);
        padding: 10px;
    }
}

@media(max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }
    .services .service {
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    section.home {
        flex-direction: column;
        margin-top: 100px;
    }


    .home-content {
        background: rgba(255,255,255,0.75);
        padding: 10px;
    }

    .toggle {
        position: fixed;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: var(--primary-color) url(../images/menu.png);
        z-index: 20;
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

}