@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.red {
    color: rgb(121, 33, 33);
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

h1 {
    font-weight: 500;
}

.fa-discord {
    color: #7289d9;
    size: 3rem;
}

.fa-twitter {
    color: #00acee;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

section.home {
    flex-direction: row;
    margin-top: 0;
}


.btn:hover {
    transform: scale(.95);
}

.logo {
    text-align: center;
    width: 100;
    font-size: 15rem;
    font-weight: 300;
    font-family: rock soldier;
}

.navbar {
    text-align: center;
    width: 100;
}

.navbar ul{
    display: inline-block;
}

.navbar li {
    float:left;
}

.navbar li,
li {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

.navbar img {
    width: 3rem;
}

/* WORK PAGE*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    /* padding-bottom: 0rem; */
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 10px;
    
}

.portfolio .item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.portfolio .item .action {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 5rem 
}

footer ul {
    display: inline-block;
}

footer li {
    float: left;
}

footer li, li {
    margin-left: 1 rem;
}

footer img {
    width: 3rem;
}

@media(max-width: 1024px) {

    section {
        padding: 3rem 40px;
    }

    .logo {
        font-size: 20rem;
    }

}

@media(max-width: 768px) {

    .services .service {
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    .logo {
        font-size: 14rem;
        font-weight: 600;
    }

}

@media(max-width: 768px) {
    .logo {
        font-size: 8rem;
        font-weight: 600;
    }
}